################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/implementations/dotnetcore/UniResolver/.vs
/implementations/dotnetcore/UniResolver/UniResolver/bin/Debug/netcoreapp2.0
/implementations/dotnetcore/UniResolver/UniResolver/obj
/implementations/dotnetcore/UniResolver/UniResolver/wwwroot/lib
/implementations/dotnetcore/UniResolver/UnitTestUniResolver/bin/Debug/netcoreapp2.0
/implementations/dotnetcore/UniResolver/UnitTestUniResolver/obj/Debug/netcoreapp2.0
/implementations/dotnetcore/UniResolver/UnitTestUniResolver/obj
